asn1crypto==0.24.0
certifi==2018.4.16
cryptography==2.1.4
dj-database-url==0.5.0
Django==1.11.29
django-bootstrap3==12.1.0
django-tinymce==3.0.2
enum34==1.1.6
idna==2.7
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
psycopg2==2.8.5
pycrypto==2.6.1
pygobject==3.26.1
python-decouple==3.3
pytz==2020.1
pyxdg==0.25
requests==2.19.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.23
virtualenv==16.7.5
websocket-client==0.56.0
whitenoise==3.3.1
