body{
background-color:black;
}
.underline-title {
background: -webkit-linear-gradient(right, #ff0000, #ff0000);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 120px;

}
h2{
color: white;
font-size: 18px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1{
text-align: center;
color: white;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
font-size: 50px;
}

h4{
color: white;
font-size: 19px;
}
#li{
color: white;
font-size: 20px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.language{
height: 50px;
width: 50px;
}
.ski{
height: 100px;
width: 100px;
margin-left:15%;
}
.skills{
margin-left: 100px;
}
.card{
width: 15rem;
background:white;
border-radius:10%;
}
.card2 {
margin-left: 38%;
width: 15rem;
background: white;
border-radius: 10%;
}
h4.card-text{
margin-left:10%;
color:black;
}
@media screen and (max-width: 650px) {
h1{font-size: 45px;
}
.underline-title {
background: -webkit-linear-gradient(right, #ff0000, #ff0000);
height: 2px;
margin: -1.1rem auto 0 auto;
width: 100px;

}
.card2 {
margin-left: 13%;
width: 15rem;
background: white;
border-radius: 10%;
}
h3{
font-size: 20.70px;
}
.skills{
margin-left: 0px;
}
.ski{
height: 60px;
width: 60px;
margin-left: 50px;
}
.card{
width: 15rem;
margin-left: 50px;
}
h4,p,a{
font-size: 20px;
}
}