{%extends 'base.html'%}{%load static%}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
  <body>
    {%block content%}
    <br>
    <br>
    {%include 'header.html'%}
    <div class="container">
    <br>
    <br>
    <hr>
    <h2>Technologies Specialized in:</h2>
    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>Flask</li>
      <li>JavaScript</li>
      <li>Angular</li>
      <li>Ember</li>
    </ul>
    <br>
    <h2 style="text-align:center;">A Sample Of Some Of My Work</h2>
    <div class="row">
    {%for pro_item in pro%}
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
    <a href="{{ pro_item.deployed_link }}"><img class="card-img-top" src="{{ pro_item.image.url }}" alt=Card image cap height="300px" width="300px"></a>
    <div class="card-body">
      <h3 class="card-title"><a href="">{{ project_item.user }}</a></h3>
      <h3 class="card-title">{{ pro_item.title }}</h3>
      <p class="card-text">{{ pro_item.description |safe}}</p>
    </div>
    </div>
    </div>
    {%endfor%}
    </div>
    </div>
  </body>
  {%endblock%}
</html>
<style media="screen">

</style>
