{%extends 'base.html'%}
<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
    header {
background: url('');
background-repeat: no-repeat;
width: 100%;
height: 450px;
background-color:;
color: #fff;
text-align: center;
text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
    </style>
  </head>
  <body>
    {%block content%}
    <header>
<img src="http://mediad.publicbroadcasting.net/p/kgou/files/styles/medium/public/201312/Keyboard.jpg" alt="" height="500" width="1310">
    </header>

    dfghjk
  </body>
  {%endblock%}
</html>
