{% load bootstrap4 %} {%load static%}
<!DOCTYPE html>
<html>
  <head>
<link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>
<link rel="icon" href="static/img/vincent.jpg" type="image/gif" sizes="16x16">
    {% bootstrap_css%}
    <meta charset="utf-8">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
      <title> Vincent Muya  </title>
    {% endif %}


  </head>
  <body>
{%include 'navbar.html'%}
    {%block content %}
    {%endblock%}
    <br>

    {% block scripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       {% bootstrap_javascript %}
      {% endblock %}
  </body>
</html>
<style media="screen">
body {
    font-family: 'Balthazar';font-size: 18px;
}
</style>
