{%extends 'base.html'%} {%load staticfiles%} {%block content%} {% load bootstrap3 %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" />
</head>
<body>
  <div class="container">
<h1>Get In Touch</h1>
<br>
<div class="row">
  <div class="col-md-4">
<h2>Contact info</h2>
<p>Nairobi, Kenya</p>
<p>vincentmuya13@gmail.com</p>
<a href="https://github.com/vincentmuya" target="_blank"><p>Github profile</p></a>
<a href="https://www.linkedin.com/in/vincent-muya-8a759b150/" target="_blank"><p>Linked in</p></a>
  </div>
  <div class="col-md-7">
    <h2>For Any Questions Or Enquiries </h2>
    <form method="post" novalidate>
      {% csrf_token %}
        {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<div class="col-md-1">

</div>
</div>
</div>
</body>
<style media="screen">
  body{
    background: url("/static/img/rainbow-nebula.jpg") repeat;
  }
  h1{
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 50px;
  }
  p,h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 18px;
  }
form{
  color: white;
}
@media screen and (max-width: 650px) {
  h1{
    font-size: 45px;
  }
}
</style>
{%endblock%}
<!-- Script -->
{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
   $(document).ready(function(){
  var mouseX, mouseY;
  var ww = $( window ).width();
  var wh = $( window ).height();
  var traX, traY;
  $(document).mousemove(function(e){
    mouseX = e.pageX;
    mouseY = e.pageY;
    traX = ((4 * mouseX) / 570) + 15;
    traY = ((4 * mouseY) / 570) + 25;
    console.log(traX);
    $("body").css({"background-position": traX + "%" + traY + "%"});
  });
});
</script>
  {% endblock %}
