{%load staticfiles%}
<body>
  {%block styles%}
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  {% endblock %}
  <header>
    <div class="container header inner">
        <div class="container">
            <img src="static/img/me.jpg" alt="" height="250" width="200" class="user-image">
            <div class="username-links">
            <h1><strong><em>Vincent Muya</em></strong></h1>
          </div>
            <h4>Full Stack Web Developer</h4>
        </div>
    </div>
  </header>
</body>
