{%extends 'base.html'%} {%load static%} {%block content%} {% load bootstrap5 %}
<head>
  <link rel="icon" href="static/img/me.jpg" type="image/gif" sizes="16x16">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <div class="container">
<h1>Vincent Muya</h1>
      <div class="underline-title"></div>
<br>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <img src="static/img/me.jpg" alt="Vincent Muya" class="me" style="border:dotted; border-radius:20px;color:white;">
      <br><div style="color:black;">.</div>
<p style="border:dotted;border-radius:20px;padding:10px;">I am a dedicated Full Stack Developer with a strong passion for creating, developing, and maintaining
high-quality applications, frameworks, and software components. My expertise spans the full software development lifecycle—from design and programming to thorough documentation, testing, and debugging—to deliver robust, scalable solutions.
I take pride in building everything from small business websites to complex,
interactive web applications, always with a focus on performance, usability, and seamless user experience.
</p>
 <p id="pointer" style="border:dotted;border-radius:20px;" class="open-overla">>>>>>>More Info.<<<<<<</p>
      <br>
</div>
      <div class="col-md-2">
    <div class="card2" id="" style="border:dotted; border-radius:20px;">
        <div style="text-align: center;" class="" id="contactinfo">
      <h2 style="color:red; font-size:20px;">Contact Info:</h2>
      <p  style="font-size:20px; color:black;" >vincentmuya13@gmail.com</p>
      <a href="https://github.com/vincentmuya" target="_blank"><p  style="color:black; font-size:20px;">Github profile </p></a>
      <a href="https://www.linkedin.com/in/vincent-muya-8a759b150/" target="_blank"><p style="color:black; font-size:20px;">Linked in</p></a>
    </div>
        </div>
    </div>
</div>
</div>
</body>

{%endblock%}
{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
   $('.open-overla').click(function() {
     var overlay_navigation = $('.overlay-navigation'),
       nav_item_1 = $('nav li:nth-of-type(1)'),
       nav_item_2 = $('nav li:nth-of-type(2)'),
       nav_item_3 = $('nav li:nth-of-type(3)'),
       nav_item_4 = $('nav li:nth-of-type(4)'),
       nav_item_5 = $('nav li:nth-of-type(5)'),
       top_bar = $('.bar-top'),
       middle_bar = $('.bar-middle'),
       bottom_bar = $('.bar-bottom');

     overlay_navigation.toggleClass('overlay-active');
     if (overlay_navigation.hasClass('overlay-active')) {

       top_bar.removeClass('animate-out-top-bar').addClass('animate-top-bar');
       middle_bar.removeClass('animate-out-middle-bar').addClass('animate-middle-bar');
       bottom_bar.removeClass('animate-out-bottom-bar').addClass('animate-bottom-bar');
       overlay_navigation.removeClass('overlay-slide-up').addClass('overlay-slide-down')
       nav_item_1.removeClass('slide-in-nav-item-reverse').addClass('slide-in-nav-item');
       nav_item_2.removeClass('slide-in-nav-item-delay-1-reverse').addClass('slide-in-nav-item-delay-1');
       nav_item_3.removeClass('slide-in-nav-item-delay-2-reverse').addClass('slide-in-nav-item-delay-2');
       nav_item_4.removeClass('slide-in-nav-item-delay-3-reverse').addClass('slide-in-nav-item-delay-3');
       nav_item_5.removeClass('slide-in-nav-item-delay-4-reverse').addClass('slide-in-nav-item-delay-4');
     } else {
       top_bar.removeClass('animate-top-bar').addClass('animate-out-top-bar');
       middle_bar.removeClass('animate-middle-bar').addClass('animate-out-middle-bar');
       bottom_bar.removeClass('animate-bottom-bar').addClass('animate-out-bottom-bar');
       overlay_navigation.removeClass('overlay-slide-down').addClass('overlay-slide-up')
       nav_item_1.removeClass('slide-in-nav-item').addClass('slide-in-nav-item-reverse');
       nav_item_2.removeClass('slide-in-nav-item-delay-1').addClass('slide-in-nav-item-delay-1-reverse');
       nav_item_3.removeClass('slide-in-nav-item-delay-2').addClass('slide-in-nav-item-delay-2-reverse');
       nav_item_4.removeClass('slide-in-nav-item-delay-3').addClass('slide-in-nav-item-delay-3-reverse');
       nav_item_5.removeClass('slide-in-nav-item-delay-4').addClass('slide-in-nav-item-delay-4-reverse');
     }
   })
</script>
  {% endblock %}
