{%load staticfiles%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

<body>

  <div class="tabs">
    <div class="row">
      <div class="col-md-0">
        <h1 style="text-align:center;" id='about'>About me</h1>
        <div class="col-md-12">
          <h2>Hi!<br>I am Vincent Muya.A software engineer who loves designing, programming, documenting, testing and bug fixing involved in creating and maintaining applications, frameworks, or other software components. I'm currently based in Nairobi,Kenya. I love outdoor activities and exploring life. </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="row">
      <div class="col-md-0">
        <section style="text-align:center;">
          <h1 style="text-align:center;" id='skills'>Skills:</h1>
          <div class="col-md-12">
            <ul>
              <div class="row">
                <div class="col-md-6">
                  <li>CSS <img src="" alt="" height="30" width="30"></li>
                  <p></p>
                  <li>HTML <img src="" alt="" height="30" width="30"></li>
                  <p></p>
                  <li>Python <img src=""
                      alt="" height="30" width="30"></li>
                  <p></p>
                  <li>Django <img src=""
                      alt="" height="30" width="30"></li>
                </div>
                <div class="col-md-6">
                  <p></p>
                  <li>Flask <img src=""
                      alt="" height="30" width="30"></li>
                  <p></p>
                  <li>Angular <img src=""
                      alt="" height="30" width="30"></li>
                  <p></p>
                  <li>JavaScript <img src="" alt="" height="30" width="30"></li>
                  <p></p>
                  <li>PostgreSQL <img src="" alt="" height="30" width="30"></li>
                </div>
              </div>
            </ul>
        </section>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs">
    <div class="row">
        <section id="projects">
          <h1 style="text-align:center;">Some Of My Projects</h1>
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <a href="https://thegooo.herokuapp.com/" target="_blank">
                    <img class="card-img-top" src="/static/img/little.png" alt=Card image cap height="200px" width="250px"></a>
                  <div class="card-body">
                    <h3 class="card-title">Little Einsteins</h3>
                    <p class="card-text">A Django web app about the school Little Einsteins where students can enroll and other features included too</p>
                    <div class="row">
                      <a href="https://github.com/vincentmuya/Little-Einsteins" target="_blank"><button type="button" name="button">Github link</button></a>
                      <a href="https://littleeinst.herokuapp.com/" target="_blank"><button type="button" name="button">Deployed link</button></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <a href="https://scorpus1.herokuapp.com/" target="_blank"><img class="card-img-top" src="/static/img/scorpus.png" alt=Card image cap height="200px" width="250px"></a>
                  <div class="card-body">
                    <h3 class="card-title">Scorpus Logistics Cargo</h3>
                    <p class="card-text">Its a website where a user can track their shipments</p>
                    <div class="row">
                      <a href="https://github.com/vincentmuya/scorpus" target="_blank"><button type="button" name="button">Github link</button></a>
                      <a href="https://scorpus1.herokuapp.com/" target="_blank"><button type="button" name="button">Deployed link</button></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <a href="https://vincentmuya.github.io/Pig-dice/" target="_blank"><img class="card-img-top" src="/static/img/pigdice.png" alt=Card image cap height="200px" width="250px"></a>
                  <div class="card-body">
                    <h3 class="card-title">Pig Dice</h3>
                    <p class="card-text">A digital two player Javascript dice game</p>
                    <div class="row">
                      <a href="https://github.com/vincentmuya/Pig-dice" target="_blank"><button type="button" name="button">Github link</button></a>
                      <a href="https://vincentmuya.github.io/Pig-dice/" target="_blank"><button type="button" name="button">Deployed link</button></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </section>
        </div>
    </div>
  </div>
</body>
</html>
<style media="screen">
ul{
  list-style-type: none;
}
.tabs {
  margin: 8px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px #000;
}
.tabs:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, .2);
}
.card{
  margin: auto;
}
h2{
  font-size: 20px;
}
h1{
  font-size: 30px;
}

</style>
