{%extends 'base.html'%} {%load static%} {%block content%} {% load bootstrap4 %}
<head>
  <link rel="icon" href="static/img/me.jpg" type="image/gif" sizes="16x16">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/skills.css' %}">
</head>
<body>
  <div class="container">
<h1>Skills</h1>
<div class="underline-title"></div>

<br>
  <div class="row">
<div class="col-md-3">
  <li id="li">CSS <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/2000px-CSS.3.svg.png" class="language" alt="CSS"></li>
  <p></p>
  <li id="li">HTML <img src="https://cdn0.iconfinder.com/data/icons/HTML5/512/HTML_Logo.png" class="language" alt="HTML"></li>
  <p></p>
  <li id="li">Git <img src="https://img.portalgsti.com.br/owYMYxiyGnR3XRx0hl_plw-cbOI=/670x440/https://www.portalgsti.com.br/media/uploads/course/willian-justen-de-vasconcellos/2017/08/21/git-e-github-para-iniciantes.jpg" class="language" alt="Git"></li>
  <p></p>
  <li id="li">Python <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" class="language"  alt="Python" ></li>
  <p></p>
  <li id="li">Django <img src="https://static1.squarespace.com/static/5489b1f6e4b0c7fbb9e64fcb/t/563a25cde4b097a60fe146d1/1446651342223/?format=500w" class="language" alt="Django"></li>
  <p></p>
  <li id="li">API <img src="https://cdn-images-1.medium.com/max/1200/1*lAR9Uh_gJ7dp23e0vhy5Hg.png" class="language" alt="Api"></li>
  <p></p>
  <li id="li">AJAX <img src="https://3.bp.blogspot.com/-Pw_neFSDUbQ/WkrJIoE52rI/AAAAAAAAA4Q/ChjlUd9y4LMAf8VcEOQXn_42p8BkDm6twCLcBGAs/s1600/ajax.jpg" class="language" alt="AJAX"></li>
  <p></p>
  <li id="li">OOP <img src="https://cdn4.iconfinder.com/data/icons/technology-83/1000/object_programming_development_oriented_developer_object-oriented_programming_software-512.png" class="language" alt="OOP"></li>
    <p></p>
    <li id="li">Kivy <img src="https://upload.wikimedia.org/wikipedia/commons/5/58/Kivy_logo.png" class="language" alt="OOP"></li>

</div>
  <div class="col-md-3">
  <li id="li">Flask <img src="https://www.kindpng.com/picc/m/188-1882559_python-flask-hd-png-download.png" class="language" alt="Flask"></li>
  <p></p>
  <li id="li">JavaScript <img src="https://b.kisscc0.com/20180815/xgq/kisscc0-javascript-logo-number-angularjs-node-js-js-5b74177e8401c7.7492136215343348465407.png" class="language" alt="Java Script"></li>
  <p></p>
  <li id="li">TypeScript <img src="https://cdn.worldvectorlogo.com/logos/typescript.svg" class="language" alt="TypeScript"></li>
  <p></p>
  <li id="li">Angular <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="language" alt="Angular"></li>
  <p></p>
  <li id="li">JQuery <img src="https://icon2.kisspng.com/20180502/heq/kisspng-web-development-jquery-ui-javascript-computer-icon-jqlogo-5ae94a5d3322d7.6814333115252383652095.jpg" class="language" alt="JQuery"></li>
  <p></p>
  <li id="li">PostgreSQL <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" class="language" alt="Postgre"></li>
  <p></p>
  <li id="li">MySQL <img src="https://pngimg.com/d/mysql_PNG31.png" class="language" alt="Postgre"></li>
  <p></p>
  <li id="li">USSD/SMS <img src="https://www.gsmasia.net/wp-content/uploads/2017/09/MobileSMS-e1505245381937.png" class="language" alt="USSD/SMS"></li>
  <p></p>
  <li id="li">Linux <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/1200px-Tux.svg.png" class="language" alt="Linux"></li>
</div>
<br>
<div class="col-md-3">
<div class="card" id="block" >
      <img src="https://cdn4.iconfinder.com/data/icons/jobs-industry-types/128/12-512.png" class="ski" alt="Api" >
      <div class="card-body">
        <h4 class="card-text">Fast load times and lag free interaction,a priority.</h4>
      </div>
    </div>
    <br>
    <div class="card" id="block" >
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Simple_light_bulb_graphic.png" class="ski" alt="Api" >
          <div class="card-body">
            <h4 class="card-text"><br>I possess a great eye and mind for creativity and design.</h4>
          </div>
        </div>
  </div>

  <div class="col-md-3">
    <div class="card" id="block" >
          <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/ui-ux-design-1-913878.png" class="ski" alt="Image" >
          <div class="card-body">
            <h4 class="card-text"><br>Strong preference for easy to use, intuitive UX/UI.</h4>
          </div>
        </div>
        <br>
        <div class="card" id="block" >
              <img src="http://cdn.onlinewebfonts.com/svg/img_558532.png" class="ski" alt="Api" >
              <div class="card-body">
                <h4 class="card-text">Websites don't have to be static, I love making pages come to life.</h4>
              </div>
            </div>
      </div>
</div>
      <br>
<div class="card2" id="" >
        <div style="text-align: center;" class="" id="contactinfo">
      <h2 style="color:red; font-size:20px;">Contact info:</h2>
      <p  style="font-size:20px; color:black;" >vincentmuya13@gmail.com</p>
      <a href="https://github.com/vincentmuya" target="_blank"><p  style="color:black; font-size:20px;">Github profile </p></a>
      <a href="https://www.linkedin.com/in/vincent-muya-8a759b150/" target="_blank"><p style="color:black; font-size:20px;">Linked in</p></a>
    </div>
        </div>

</div>
</div>
</body>
{%endblock%}
